body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    font-weight: 700;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color: #ffffff;
}

.layout-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.border-box {
    border: 1px solid black;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    height: 445px;
}

.frontend-dev{
    flex: 1 1 21.7%;
}

.work-experience-section {
    flex: 1 1 21.7%;
}

.work-experience-section {
    flex: 1 1 60%;
}

.experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience > div:nth-child(1) {
    flex-basis: 30%;
}

.experience > div:nth-child(2) {
    flex-basis: 35%;
}

.experience > div:nth-child(3) {
    flex-basis: 35%;
}

.projects, .frontend {
    background-color: #ffffff;
}

.projects-space, .work-space {
    background-color: #ffffff;
    font-family: 'Caveat', cursive;
    font-size: 1.3em;
}

.font-style {
    font-family: 'Caveat', cursive;
    font-size: 1.3em;
}

.font-style-2 {
    font-family: 'Caveat', cursive;
    font-size: 3.5em;
}

.font-style-3 {
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

.projects-experience,
.opensource-education,
.frontend-dev {
    display: block;
    width: 30%;
}

.frontend-dev th {
    border: none;
    background-color: #ffffff;
}

.projects th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #e1e1e1;
}

.opensource-work th {
    border: 1px solid black;
    border-collapse: collapse;
}

.work-experience{
    flex: 1;
    padding: 30px;
    background-color: #f9f9f9;
    margin: 10px 0;
}

.thAlign {
    text-align: left;
}

.reviews-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.review {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .projects-experience, .opensource-education, .reviews-container {
        flex-direction: column;
    }

    .projects, .work-experience, .opensource-work, .education, .review {
        margin-bottom: 20px;
    }
}
